In [1]:
import pytesseract
import pandas as pd
import numpy as np
from PIL import Image as PIL_Image
import cv2

In [2]:
d= pd.read_excel('C:\\Users\\SRIRAM\\PycharmProjects\\img_extraction\\test.xlsx')
n=pd.DataFrame(d)
n

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0     RollNo  no_of_classes
0             0             0           0   70021642              0
1             1             1           1  170021643              5
2             2             2           2  170021644              0
3             3             3           3  170021645              0
4             4             4           4  170021646              0

In [3]:
value=PIL_Image.open('id.jpeg')

In [ ]:
cam = cv2.VideoCapture(0)
cv2.namedWindow("screenshot app")
img_counter=0 
while True:
    ret,frame=cam.read()
    if not ret:
        print('failed to grab frame')
        break
    cv2.imshow('test',frame)
    
    k=cv2.waitKey(1)
    if k%256 == 27:
        print('Escape hit,closing the app') 
        
    elif k%256 == 32:
        img_name="opencv_frame_{}.png".format(img_counter)
        cv2.imwrite(img_name,frame)
        print('ss taken')
        img_counter +=1
    if cv2.waitKey(1) == ord('f'):
        break
cam.release()
cv2.destroyAllWindows()

In [7]:

# orig_img_path = "C:\\Users\\SRIRAM\\PycharmProjects\\img_extraction\\id.jpeg"
# !fswebcam  --no-banner --save {orig_img_path} -d /dev/video0 2> /dev/null
# img = PIL_Image.open(orig_img_path)
# img

In [ ]:
# bw_img = img.convert("L")
# bw_img

In [5]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

In [6]:
myconfif = r"--psm 11 --oem 3"
text=pytesseract.image_to_string(value, config=myconfif)

In [7]:
print(text)

pone) SST

KAITHA RAHUL KUMAR RAO

ae |

Fathers Name : K NAGESWAR RAO

Course / Branch: B.Tech / ECE

Roll No

> 19311A04J2

Date Of Birth

: 14,06.2002

Course Duration: 2019-2023

>

SAP ID / BP NO: 070021642 / 0030010971

PRINCIPAL

Yamnampet, Ghatkesar Mandal, Hyderabad-501301

+91 96406 66612 / 13|info@sreenidhi.edu.in

www.sreenidhi.edu.in

In [8]:
#y=list(text.split(" "))
#q=y.index("BP")
#y[q+2]

In [9]:
#attendence = {"RollNo": ['070021642','19311A04J2','19311A04J3','19311A04J4','19311A04J5'],"no_of_classes": [0,0,0,0,0]}
#ttendence

In [10]:
#n=pd.DataFrame(attendence)
#n

In [11]:
#s=y[q+2]
s=170021643
updated = n['RollNo']==s
updated

0    False
1     True
2    False
3    False
4    False
Name: RollNo, dtype: bool

In [12]:
reqd_Index = n[n['RollNo']==s].index.tolist()
indexvalue = reqd_Index[0]

In [13]:
n.at[indexvalue,'no_of_classes'] = n['no_of_classes'].iloc[indexvalue]+1
n

   Unnamed: 0.1  Unnamed: 0     RollNo  no_of_classes
0             0           0   70021642              0
1             1           1  170021643              5
2             2           2  170021644              0
3             3           3  170021645              0
4             4           4  170021646              0

In [14]:
n

   Unnamed: 0.1  Unnamed: 0     RollNo  no_of_classes
0             0           0   70021642              0
1             1           1  170021643              5
2             2           2  170021644              0
3             3           3  170021645              0
4             4           4  170021646              0

In [15]:
display(n.iloc[indexvalue])

Unnamed: 0.1             1
Unnamed: 0               1
RollNo           170021643
no_of_classes            5
Name: 1, dtype: int64

In [16]:
n.to_excel('C:\\Users\\SRIRAM\\PycharmProjects\\img_extraction\\test.xlsx')